<h1>List of All Shelters</h1>
<p id="new-shelter-link"><%= link_to "New Shelter", "/shelters/new" %></p>
<section class="shelters-list">
  <% @shelters.each do |shelter| %>
    <section id="shelter-list-item-<%= shelter.id %>">
      <div class="shelter-name">
        <h2><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h2>
      </div>
      <div class="shelter-links">
        <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
        <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
      </div>
    </section>
  <% end %>
</section>
