<h1>List of All Shelters</h1>
<p id="new_shelter_link"><%= link_to "New Shelter", "/shelters/new" %></p>
<section class="shelters_list">
  <% @shelters.each do |shelter| %>
    <section id="shelter_list_item_<%= shelter.id %>">
      <div class="shelter_name">
        <h2><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h2>
      </div>
      <div class="shelter_links">
        <%= link_to "Update Shelter", "/shelters/#{shelter.id}/edit" %>
        <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
      </div>
    </section>
  <% end %>
</section>
<section class="new_shelter_link">

</section>
