<h1>Create a New Shelter</h1>
<section class="new_shelter_form">
  <%= form_tag "/shelters", method: :post do %>
  <div class="field_container">
    <div class="input_field">
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </div>
    <div class="input_field">
      <%= label_tag :address %>
      <%= text_field_tag :address %>
    </div>
    <div class="input_field">
      <%= label_tag :city %>
      <%= text_field_tag :city %>
    </div>
    <div class="input_field">
      <%= label_tag :state %>
      <%= text_field_tag :state %>
    </div>
    <div class="input_field">
      <%= label_tag :zip %>
      <%= text_field_tag :zip %>
    </div>
    <div class="submit_button">
      <%= submit_tag "Create Shelter" %>
    </div>
  </div>
  <% end %>
</section>
