<h1>Adoptable Pets:</h1>
<section class="pets-list">
  <p id="create-pet-link"><%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %></p>
  <% @shelter.adoptable_pets.each do |pet| %>
    <section id="pet-list-item-<%= pet.id %>">
      <div class="pet-container">
        <div class="pet-img">
          <%= image_tag pet.image_url %>
        </div>
        <div class="pet-info">
          <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
          <p><%= pet.description %></p>
          <p><%= pet.approximate_age %></p>
          <p><%= pet.sex %></p>
          <p>Current Shelter: <a href="/shelters/<%= pet.shelter.id %>"><%= pet.shelter.name %></a></p>
        </div>
        <div class="pet-crud-links">
          <p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %></p>
          <p><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
        </div>
      </div>
    </section>
  <% end %>
</section>
