<h1>New Pet Creation Form</h1>
<%= form_tag "/shelters/#{@shelter.id}/pets" do%>
  <div class="field_container">
    <div class="input_field">
      <%= label_tag :image_url %>
      <%= text_field_tag :image_url%>
    </div>
    <div class="input_field">
      <%= label_tag :name %>
      <%= text_field_tag :name%>
    </div>
    <div class="input_field">
      <%= label_tag :description %>
      <%= text_field_tag :description%>
    </div>
    <div class="input_field">
      <%= label_tag :approximate_age %>
      <%= text_field_tag :approximate_age %>
    </div>
    <div class="input_field">
      <%= label_tag :sex %>
      <%= text_field_tag :sex %>
    </div>
    <div class="submit_button">
      <%= submit_tag "Create Pet" %>
    </div>
  </div>
<% end %>
