<h1>Pets Adoption Application</h1>
<%= form_tag "/adoption_apps", method: :post do%>
  <section class="field-container">
    <section class="favorites-selection">
      <% @favorite_pets.each do |pet| %>
        <section id="select-<%= pet.id %>">
          <%= check_box_tag "selected_pet[]", pet.id %>
          <%= link_to pet.name, "/pets/#{pet.id}" %>
        </section>
      <% end %>
    </section>
    <section class="adoption-info">
      <section class="input-field">
        <%= label_tag :name, "Name:" %>
        <%= text_field_tag :name %>
      </section>
      <section class="input-field">
        <%= label_tag :address, "Address:" %>
        <%= text_field_tag :address %>
      </section>
      <section class="input-field">
        <%= label_tag :city, "City:" %>
        <%= text_field_tag :city %>
      </section>
      <section class="input-field">
        <%= label_tag :state, "State:" %>
        <%= text_field_tag :state %>
      </section>
      <section class="input-field">
        <%= label_tag :zip, "Zip:" %>
        <%= text_field_tag :zip %>
      </section>
      <section class="input-field">
        <%= label_tag :phone_number, "Phone Number:" %>
        <%= text_field_tag :phone_number %>
      </section>
      <section class="input-field">
        <p style="vertical-align:text-top"><%= label_tag :description, "Tell us a little about you and your home:" %></p>
        <%= text_area_tag :description, nil, size: '150x10'%>
      </section>
      <section class="submit-button">
        <%= submit_tag "Submit Adoption Application" %>
      </section>
    </section>
  </section>
<% end %>
