<h1>Adoption Application Show Page</h1>

<section class="app-info">
  <p><%= @pet_app.name %></p>
  <p><%= @pet_app.address %></p>
  <p><%= @pet_app.city %></p>
  <p><%= @pet_app.state %></p>
  <p><%= @pet_app.zip %></p>
  <p><%= @pet_app.phone_number %></p>
  <p><%= @pet_app.description %></p>
</section>
<section class="app-pet-list">
  <%= form_tag "/adoption_apps/#{@pet_app.id}", method: :patch do %>
    <% @pet_app.pets.each do |pet| %>
      <section id="app-pet-<%= pet.id %>">
        <%= check_box_tag "selected_pet[]", pet.id %>
        <%= link_to pet.name, "/pets/#{pet.id}" %>
        <% if pet.approved_application_id == @pet_app.id %>
          <%= link_to 'Un-Approve Application', "/pets/#{pet.id}/adoption_apps/#{@pet_app.id}", method: :delete %>
        <% elsif pet.pet_adoption_apps.where(approved: true).empty? %>
          <%= link_to 'Approve Application', "/pets/#{pet.id}/adoption_apps/#{@pet_app.id}", method: :patch %>
        <% else %>
          <p style="display:inline">Another application is currently pending.</p>
        <% end %>
      </section>
    <% end %>
  <%= submit_tag "Approve for Checked Pets" %>
  <% end %>
</section>

<!-- if pet.applicant_id == pet.id
  link to unapprove application
elsif pet.applicant_id.nil?
  link to approve application
else
  take away ability to approve application. -->
