<h1>All Pets</h1>
<section class="pets-list">
  <% @pets.each do |pet| %>
    <section id="pet-list-item-<%= pet.id %>">
      <div class="pet-container">
        <div class="pet-img">
          <%= image_tag pet.image_url %>
        </div>
        <div class="pet-info">
          <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
          <p><%= pet.description %></p>
          <p><%= pet.approximate_age %></p>
          <p><%= pet.sex %></p>
          <p>Current Shelter:<%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %></p>
        </div>
        <div class="pet-crud-links">
          <p><%= link_to "Update Pet", "/pets/#{pet.id}/edit" %></p>
          <p><%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %></p>
        </div>
      </div>
    </section>
  <% end %>
</section>
