<h1><%=  link_to @pet.name, "/pets/#{@pet.id}" %></h1>
<section class="pet-show-container">
  <div class="pet-show-info">
    <p><%=  @pet.description %></p>
    <p><%=  @pet.approximate_age %></p>
    <p><%=  @pet.sex %></p>
    <% if @pet.adoptable %>
      <p><%=  link_to @pet.name, "/pets/#{@pet.id}" %> is adoptable</p>
    <% else %>
      <p> <%=  link_to @pet.name, "/pets/#{@pet.id}" %> is pending adoption, on hold for <%= link_to @pet.approved_applicant_name, "/adoption_apps/#{@pet.approved_application_id}" %></p>
    <% end %>
  </div>
  <div class="pet-show-links">
    <% if favorites_list.valid?(@pet.id) %>
      <p><%= link_to "Un-Favorite Pet", "/favorites/#{@pet.id}", method: :delete %></p>
    <% else %>
      <p><%= link_to "Favorite Pet", "/pets/#{@pet.id}/favorites", method: :patch %></p>
    <% end %>
    <p><%= link_to "View All Applications", "/pets/#{@pet.id}/adoption_apps" %></p>
    <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
    <p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
  </div>
  <div class="pet-show-img">
    <%= image_tag @pet.image_url, id: "petimg-#{@pet.id}" %> %>
  </div>
</section>
