<h1><%= @pet.name %></h1>
<section class="pet-show-container">
  <div class="pet-show-info">
    <p><%=  @pet.description %></p>
    <p><%=  @pet.approximate_age %></p>
    <p><%=  @pet.sex %></p>
    <p><%=  @pet.name %> is <%= @pet.adoption_status %></p>
  </div>
  <div class="pet-show-links">
    <% if favorites_list.valid?(@pet.id) %>
      <p><%= link_to "Un-Favorite Pet", "/favorites/#{@pet.id}", method: :delete %></p>
    <% else %>
      <p><%= link_to "Favorite Pet", "/pets/#{@pet.id}/favorites", method: :patch %></p>
    <% end %>
    <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %></p>
    <p><%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
  </div>
  <div class="pet-show-img">
    <%= image_tag @pet.image_url, id: "petimg-#{@pet.id}" %>
  </div>
</section>
