<!DOCTYPE html>
<html>
  <head>
    <title>Ryan/Colin - Adopt Don't Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="navbar">
    <h1 id="main-title">Adopt Don't Shop</h1>
    <div class="nav-links">
      <%= link_to "Pets Index", "/pets" %>
      |
      <%= link_to "Shelters Index", "/shelters" %>
    </div>
    <section class="favorites-counter">
      <%= link_to "Favorites: #{favorites_list.pets_total}", '/favorites' %>
    </section>
  </div>
  <% flash.each do |type, message| %>
      <h1 style="color:red"><%= message %></h1>
  <% end %>
    <%= yield %>
  </body>
</html>
